li,
ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.card-img-top {
    height: 200px;
    background: #C7BEBE;
}

.logo {
    max-width: 260px;
}

.btn-group {
    width: 150px;
    padding-left: 10px;
}

#ingredient-button, #ingredient-button + .dropdown-menu {
    background: #3282f7;
    color: #fff;
}

#appareils-button, #appareils-button + .dropdown-menu {
    background: #68D9A4;
    color: #fff;
}


#ustensiles-button, #ustensiles-button + .dropdown-menu {
    background: #ED6454;
    color: #fff;
}
