li,
ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

#ingredientsSelection a {
    position: relative;
}

.ingredient-item, .appliance-item, .ustensil-item {
    margin-right: 10px;
    padding: 0.375rem 0.75rem;
    border-radius: 0.375rem;
    display: flex;
    align-items: flex-end;
}

.ingredient-item {
    background: #3282f7;
    color: #fff;
}

.appliance-item {
    background: #68d9a4;
    color: #fff;
}

.ustensil-item {
    background: #ed6454;
    color: #fff;
}

.ingredient-item::after, .appliance-item::after, .ustensil-item::after {
    display: inline-block;
    content: "";
    vertical-align: -0.125em;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-x-lg' viewBox='0 0 16 16'><path d='M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z'/></svg>");
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    cursor: pointer;
}

.btn-group .btn {
    max-width: 100%;
    position: relative;
    text-align: left;
    padding-right: 20px;
}

.btn-group i.bi-caret-down-fill {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
    color: #fff;
    z-index: 2;
    pointer-events: none;
}

.btn-group .btn::placeholder {
    color: #fff;
}

.dropdown-menu.show {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card-img-top {
    height: 200px;
    background: #c7bebe;
}

.logo {
    max-width: 260px;
}

.btn-group {
    width: 150px;
    padding-left: 10px;
}

#ingredient-button,
#allIngredients {
    background: #3282f7;
    color: #fff;
}

#appareils-button,
#allAppliances {
    background: #68d9a4;
    color: #fff;
}

#ustensiles-button,
#allUstensils {
    background: #ed6454;
    color: #fff;
}

#allIngredients a, #allAppliances a, #allUstensils a {
    color: #fff;
    width: 200px;
    white-space: inherit;
}